
<div class="row">
    <div class="col-md-6">
        <p class="text-danger"><font size="6">Details for {{specUser.first}} {{specUser.last}}</p>
        <p>Name : {{specUser.first}} {{specUser.last}}</p>
        <p>Gender: {{specUser.gender}} </p>
        <br>
        <p>Street: {{specUser.street}}</p>
        <p>City: {{specUser.city}}</p>
        <p>Zip: {{specUser.zip}}</p>
        <br>
        <p>Phone: {{specUser.phone}}</p>
        <p>Cell: {{specUser.cell}}</p>
        <p>Email {{specUser.email}}</p>
        <a href="#viewAll">Back</a>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="{{specUser.picture.large}}"
    </div>
</div>